# Ignore target and build output
target/
build/

# Ignore IDE files
.idea/
*.iml
*.ipr
*.iws
*.class
.vscode/

# Ignore OS / config / secrets
*.log
*.env

# Ignore Maven local folders (but keep mvnw and .mvn!)
# DO NOT ignore mvnw or .mvn/